if type mise >/dev/null 2>&1; then
  use mise
elif type nix >/dev/null 2>&1; then
  if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
  fi

  use flake path:$(pwd)/.nix/ --impure
else
  echo "Neither mise nor nix found! Good luck on your own!"
  exit 1
fi

dotenv_if_exists
dotenv_if_exists .env.local
